// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// 100 - Thin
// 200 - Extra Light, Ultra Light
// 300 - Light
// 400 - Normal, Book, Regular
// 500 - Medium
// 600 - Semi Bold, Demi Bold
// 700 - Bold
// 800 - Extra Bold, Ultra Bold
// 900 - Black, Heavy

// Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Moserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// Raleway
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css");


@font-face {
  font-family: 'Cyclo';
  src: url("../assets/fonts/cyclo/Cyclo.eot");
  src: url("../assets/fonts/cyclo/Cyclo.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/cyclo/Cyclo.woff2") format("woff2"),
  url("../assets/fonts/cyclo/Cyclo.woff") format("woff"),
  url("../assets/fonts/cyclo/Cyclo.otf"),
  url("../assets/fonts/cyclo/Cyclo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
