-# Render count and title
$("#count-title").html("#{escape_javascript(render "admin/sales/returns/count_title")}");
-# Render table
$("#render-data").html("#{escape_javascript(render "admin/sales/returns/returns")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
