.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "purchase"
        - attributes = ["receipt_number", "purchase_datetime", "total", "provider", "employee"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}

      %tbody
        -# Data table render_sync
        = sync partial: "orders_data_table", collection: @orders
        = sync_new partial: "orders_data_table", resource: Purchase.new
        -# End Data table render_sync
    -# End Table


.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @orders, renderer: BootstrapPagination::Rails
    -# End Pagination
