-# Render count and title
$("#count-title").html("#{escape_javascript(render "admin/purchases/orders/count_title")}");
-# Render show buttons
$("#show-buttons").html("#{escape_javascript(render "admin/purchases/orders/show_buttons")}");
-# Render table
$("#render-data").html("#{escape_javascript(render "admin/purchases/orders/purchases")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
