-# Render table
$("#render-search-providers").html("#{escape_javascript(render "providers_search")}");
-# Render table
$("#render-search-products").html("#{escape_javascript(render "products_search")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
