// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// Fix affix footer
.fix-footer{
  position: relative;
  display: block;
  padding-bottom: (0px + 30px);
}
// End Fix affix footer

footer{
  background-color: $white;
  -webkit-box-shadow: 0px -2px 6px rgba($black,0.2);
  box-shadow: 0px -2px 6px rgba($black,0.2);

  position: fixed;
  bottom: 0px;
  top: auto;
  left: 0px;
  right: 0px;

  z-index: 10;
}

.footer-pdf{
  background-color: $white;
  padding-top: 5px;

  p{
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
  }
}

.footer-top{
  padding: 5px 0px;

  img{
    padding-bottom: 10px;
  }

  p{
    text-align: center;
    margin: 0px;
    line-height: 1;

    span{
      display: block;
    }
  }
}


@media (min-width: 768px){

  .fix-footer{
    padding-bottom: (58px + 30px);
  }

  .footer-top{
    .row{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    img{
      padding-bottom: 0px;
    }

    p{
      text-align: left;

      span{
        display: inline-block;
      }
    }
  }
  
}
