body{
  &.auth{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    min-height: 100vh;

    .background-container{
      @include primary-color-top;

      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }
  }
}

// Sign in
.sign-in-form{
  .form{
    padding-bottom: 0px;
  }
}
