body{
  &.auth{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .background-container{
      background: url(asset-path("img/login-background.jpg")) no-repeat center center;
      background-size: cover;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;

      -webkit-filter: blur(70px);
      filter: blur(70px);
    }

    .blur {
      position: fixed;
      padding: 70px;
      top: -70px;
      bottom: -70px;
      right: -70px;
      left: -70px;

      background-image: linear-gradient(to top right, rgba(#2b2832, 0.8) 0%, rgba(#545763, 0.8) 45%, rgba(#454d5b, 0.6) 60%);

      -webkit-filter: blur(70px);
      filter: blur(70px);

      &:after{
        content: '';
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 1001;

        background-image: linear-gradient(360deg, rgba(#2b2832, 0.8) 0%, rgba(#2b2832, 0.4) 46%, rgba($black, 0.05) 50%);

        -webkit-filter: blur(70px);
        filter: blur(70px);
      }
    }
  }
}

// Login
.login-form{
  .form{
    padding-bottom: 0px;
  }
}
