// ------------------------------------------------------------
// This file contains all styles related to the form pages
// ------------------------------------------------------------

form{
  .form-info{
    .container-left{
      padding: 0px;
    }

    .container-right{
      padding: 0px;
    }

    .container-add-products{
      padding: 30px 0px;
      text-align: center;

      .btn-general{
        i{
          padding-right: 5px;
        }
      }
    }
  }
}

.form{
  .alerts{
    padding-top: 20px;
  }

  .logo-container{
    padding: 10px 0px 20px;
  }

  #recaptcha-center{
    display: inline-block;

    // -webkit-transform:scale(0.77);
    // transform:scale(0.77);
    // -webkit-transform-origin: 0px 0px;
    // transform-origin: 0px 0px;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .general-info{
    .form-group{
      padding-top: 15px;
      margin-bottom: 0px;

      .input-group{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .form-control{
          background-color: $transparent;
        }
      }

      .input-group-btn{
        vertical-align: bottom;
        width: auto;

        .btn-file{
          position: relative;
          overflow: hidden;
          white-space: normal;

          input{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            font-size: 0px;
            width: 100%;
            height: 100%;
            border: none;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
    }
  }

  .form-info{
    label{
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 0px;
    }

    input, textarea{
      margin: 0px;

      &.input-disabled{
        pointer-events: none;
        cursor: not-allowed;
        border: none;
        background: $transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        word-wrap: break-word;
        padding: 0px;

        &.with-padding{
          padding: 6px 12px;
        }
      }
    }

    .input-btn-group{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;

      .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
        background-color: $transparent;
      }

      .border-bottom{
        position: absolute;
        left: 0px;
        right: 45px;
        bottom: 0px;
        top: auto;
      }
    }

    .main-buttons{
      text-align: center;
      float: left;
      width: 100%;
      padding-top: 15px;

      &.sessions{
        padding: 20px 0px 15px;
      }

      .button-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .forgot-pass{
          margin-top: 15px;
        }

        .btn-general{
          margin-bottom: 15px;

          i{
            padding-right: 5px;

            &.fa-spinner.fa-spin{
              padding-right: 0px;
            }
          }

          &:last-child{
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px){

  .form{
    .logo-container{
      padding: 15px 0px 20px;
    }

    #recaptcha-center{
      -webkit-transform:scale(1);
      transform:scale(1);
    }

    .form-info{
      .main-buttons{
        .button-container{
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;

          &.center{
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
          }

          .forgot-pass{
            margin-top: 0px;
            margin-right: 15px;
          }

          .btn-general{
            margin-bottom: 0px;
            margin-left: (15px / 2);
            margin-right: (15px / 2);

            &:last-child{
              margin-right: 0px;
            }
          }
        }
      }
    }
  }

}


@media (min-width: 992px) {

  form{
    .form-info{
      .container-left{
        padding-right: 7.5px;
      }

      .container-right{
        padding-left: 7.5px;
      }

      .container-add-products{
        padding: 20px 0px;
        text-align: right;
      }
    }
  }

}
