.error-page{
  padding: 30px 0px;

  .material-card{
    background-color: $transparent;
  }

  img{
    padding: 0px 0px 30px;
    max-width: 480px;
    width: 100%
  }

  h1{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 10px;
    margin-top: 0px;
    color: $white;

    span{
      display: inline-block;
      width: 120px;

      img{
        display: inline;
        padding: 0px 0px 0px 10px;
        max-width: 100%;
      }
    }
  }

  h2{
    text-align: center;
    text-transform: uppercase;
    color: $white;

    span{
      display: block;
      margin-bottom: 10px;
      // font-style: italic;
    }
  }

  p{
    text-align: center;
    font-size: 30px;
    line-height: 1;
    padding-top: 30px;
    margin: 0px;
    word-wrap: break-word;
    text-transform: uppercase;

    a{
      font-weight: bold;
      color: $white;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &:hover, &:active, &:focus{
        text-decoration: underline;
        color: $white;
      }
    }
  }
}

@media (min-width: 992px){

  .error-page{
    .flex-row{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .box{
      margin-left: 0px;
    }

    h1{
      text-align: right;
      font-size: 150px;

      span{
        width: 150px;
      }
    }

    h2{
      text-align: right;
    }

    p{
      text-align: right;
    }
  }

}
