.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "purchase_details"
        - attributes = ["purchase_id", "product_id", "price", "quantity", "stock", "status"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}

      %tbody
        -# Data table Sync
        = sync partial: "data_table", collection: @details
        = sync_new partial: "data_table", resource: PurchaseDetail.new
        -# End Data table Sync
    -# End Table


.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @details, renderer: BootstrapPagination::Rails
    -# End Pagination
