<!-- Table -->
<div class="row no-margin">
  <div class="col-xs-12 no-padding">
    <table class="table">
      <thead>
        <% model = "employee" %>
        <% attributes = ["first_name", "last_name", "email" ,"phone", "role"] %>

        <%= render partial: "admin/partials/table_header", locals: {model: model, attributes: attributes} %>
      </thead>

      <tbody>
        <!-- Data table Sync -->
        <%= sync partial: "table_data", collection: @employees %>
        <%= sync_new partial: "table_data", resource: Employee.new %>
        <!-- End Data table Sync -->
      </tbody>
    </table>
  </div>
</div>
<!-- End Table -->

<!-- Pagination -->
<div class="row no-margin">
  <div class="col-xs-12 no-padding">
    <!-- Will Paginate -->
    <%= will_paginate @employees, renderer: BootstrapPagination::Rails %>
    <!-- End Will Paginate -->
  </div>
</div>
<!-- End Pagination -->
