/ PDF resource
- employees = resource
/ End PDF resource
/ Index PDF
%section.index.index-pdf
  .container
    / Information
    .row
      .col-xs-12
        / Material card
        .material-card.shadow-card.material-card-pdf.shadow-card-pdf
          / Table
          .row.no-margin
            .col-xs-12.no-padding
              %h1.text-center= pdf_title
              %table.table.table-pdf
                - model = "employee"
                - attributes = ["first_name", "last_name", "email" ,"phone", "role"]
                = render partial: "admin/partials/table_header", locals: {model: model, attributes: attributes}
                %tbody
                  - employees.each do |employee|
                    = render partial: "admin/partials/table_information", locals: {resource: employee, attributes: attributes}
          / End Table
        / End Material card
    / End Information
/ End Index PDF
