<!-- PDF resource -->
<% #employee = resource %>
<!-- End PDF resource -->

<!-- Details PDF -->
<section class="details details-pdf">
  <div class="container">
    <!-- Information -->
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><%= pdf_title %></h1>
      </div>

      <% attributes = ["first_name", "last_name", "email" ,"phone", "role", "sign_in_count", "current_sign_in_at", "last_sign_in_at", "current_sign_in_ip", "last_sign_in_ip", "confirmed", "state"] %>
      
      <%= render partial: "admin/partials/details_info", locals: {resource: resource, attributes: attributes} %>
    </div>
    <!-- End Information -->
  </div>
</section>
<!-- End Details PDF -->
