<!-- Details PDF -->
<section class="details details-pdf">
  <div class="container">
    <!-- Information -->
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><%= pdf_title %></h1>
      </div>

      <% attributes = ["first_name", "last_name", "email" ,"phone", "role", "state"] %>

      <%= render partial: "admin/partials/details_info", locals: {resource: resource, attributes: attributes} %>
    </div>
    <!-- End Information -->
  </div>
</section>
<!-- End Details PDF -->
