// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///font-variables
$primary-font: 'Montserrat', 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$third-font:'Cyclo', sans-serif;
$code-font: 'Source Code Pro', monospace;

/// Copy text color
/// @type Color
$text-color: #555555 !default;

//color on variables
$white: #fff;
$black: #000;
$grey: #888888;
$grey-divider: #ccc;
$wrongurl-color: #eee;

// Company color pallete
$primary-color: #b24592; // Violet
$secondary-color: #f15f79; // Pink
$third-color: #23A6D5; // Light blue
$fourth-color: #23D5AB; // Green
$btn-color: $secondary-color;
$hover-color: #d9566d;
$facets-color: $secondary-color;
$facets-title: $primary-color;
$body-color: $white;

$facebook-color: #3d5b9b;
$twitter-color: #61a9db;
$linkedin-color: #0e76b5;
$youtube-color: #e52e2a;
$pinterest-color: #cb2027;
$glassdoo-color: #7cb229;
$instagram-color: #ee1e7b;
