.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "customer"
        - attributes = ["first_name", "last_name", "company", "email" ,"phone"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}

      %tbody
        -# Data table Sync
        = sync partial: "data_table", collection: @customers
        = sync_new partial: "data_table", resource: Customer.new
        -# End Data table Sync
    -# End Table


.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @customers, renderer: BootstrapPagination::Rails
    -# End Pagination
