-# Details PDF
%section.details.details-pdf
  .container
    .row
      .col-xs-12
        %h1.text-center= pdf_title

      -# Set attributes
      - model = "customers"
      - attributes = ["first_name", "last_name", "company", "email" ,"phone", "address", "state"]

      -# Render details information
      = render partial: "partials/information_details", locals: {model: model, resource: resource, attributes: attributes}
-# End Details PDF
