.invoice-info
  .container
    .row
      .col-xs-6
        #bill-info-container.info-container
          %h4.info-title Bill To

          .info-content
            %p.invoice-name Joe Paul Doe Jones
            %p.invoice-card xxxx-xxxx-xxxx-1547
      .col-xs-6
        #ship-info-container.info-container
          %h4.info-title Ship To

          .info-content
            %p.ship-address
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

.invoice-body
  .logo
    BANP

  .container
    .row
      .col-xs-12
        .table-container
          %table.body-table
            %thead
              %tr
                %th.q-row Quantity
                %th.d-row Description
                %th.r-row Rate
                %th.a-row Amount

            %tbody
              %tr
                %td 2
                %td Patatoes baker
                %td 28.95
                %td 57.90

              %tr
                %td 1
                %td Onions SP
                %td 19.95
                %td 19.95

              %tr
                %td 1
                %td Spinach Cello Bach
                %td 2.50
                %td 15.00

        .total-container
          .flex-child.note
            %span If you have any claim with this invoice, contact Better and Nice Produce Corp. through one of the means detailed in the header.
            
          .flex-child.total
            %span Total
          .flex-child.mount
            %span $92.82
