// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body{
  background-color: $body-color;
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: $text-color;

  // min-height: 100vh;

  &.body-pdf{
    background-color: $white;
    font-size: 14px;
    line-height: 20px;
  }
}

// Main titles
h1,
h2,
h3,
h4,
h5{
  color: $text-color;
  font-family: $secondary-font;
  text-transform: none;
}

h1{
  font-size: 24px;
}

p{
  color: $text-color;
  word-wrap: break-word;
}

// Basic styles for links
a{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: $hover-color;
  text-decoration: none;
  position: relative;

  @include on-event{
    text-decoration: underline;
    color: $hover-color;
  }
}

// Selection
::-moz-selection{
  background: $primary-color;
  color: $white;
}

::-moz-selection{
  background: $primary-color;
  color: $white;
}

::selection{
  background: $primary-color;
  color: $white;
}
//End Selection

// Inputs
.form-control{
  border-radius: 0px;
  border: none;
  color: $text-color;
  font-size: 16px;
  background-color: $transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 40px;

  &.text-area{
    height: 80px;
    resize: none;

    + label, + grammarly-btn + label{
      bottom: 50px;
    }
  }

  @include placeholder{
    // color: tint($text-color, 40%);
    color: $transparent;
  }

  @include on-event{
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:focus{
    border-bottom-color: #ddd;
  }
}
// End Inputs

// Material inputs
.form-group{
  position: relative;
  padding-top: 30px;

  &.static{
    padding-top:  65px + 10px;
  }

  #display-password{
    position: absolute;
    bottom: 0px;
    top: auto;
    right: 0px;
    left: auto;
    border: none;
    border-radius: 0px;
    background-color: $transparent;
    z-index: 110;
    padding: 8px;

    &:after{
      content: "";
      height: 15px;
      width: 2px;
      background-color: $text-color;
      display: none;
      position: absolute;
      bottom: 14px;
      right: 17px;
      -webkit-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    &.no-display{
      &:after{
        display: block;
      }
    }

    @include on-event{
      outline: inherit;
      color: $hover-color;

      &:after{
        background-color: $hover-color;
      }
    }
  }

  label{
    position: absolute;
    bottom: 6px;
    top: auto;
    left: auto;
    right: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.checkbox{
      -webkit-transform: translateY(-30px - 15px);
      transform: translateY(-30px - 15px);
      // font-size: 14px;
    }
  }

  .border-bottom{
    position: relative;

    &:after{
      content: "";
      position: absolute;
      bottom: 0px;
      top: auto;
      left: 0px;
      right: auto;
      width: 0px;
      height: 2px;

      -webkit-box-shadow: 0 1px 0 0 tint($primary-color, 15%);
      box-shadow: 0 1px 0 0 tint($primary-color, 15%);
      border-bottom: 1px solid tint($primary-color, 15%);

      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }

  // Error on input
  .field_with_errors{
    + label{
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
      font-size: 14px;
      color: $sixth-color;

      + .border-bottom{
        &:after{
          -webkit-box-shadow: 0 1px 0 0 tint($sixth-color, 15%);
          box-shadow: 0 1px 0 0 tint($sixth-color, 15%);
          border-bottom-color: $sixth-color;
          width: 100%;
        }
      }
    }
  }
  // End Error on input

  input, textarea{
    position: relative;
    z-index: 100;

    // &.with-value, &:valid, &:focus{
    //   + label{
    //     -webkit-transform: translateY(-30px);
    //     transform: translateY(-30px);
    //     font-size: 14px;
    //
    //     + .border-bottom{
    //       &:after{
    //         width: 100%;
    //       }
    //     }
    //   }
    // }

    &.with-value, &:focus{
      + label, + grammarly-btn + label{
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        font-size: 14px;

        + .border-bottom{
          &:after{
            width: 100%;
          }
        }
      }
    }

    // &:required{
    //   + label{
    //     &:after{
    //       content:" *";
    //       font-size: 0.8em;
    //       position: absolute;
    //       top: -2px;
    //       bottom: auto;
    //       left: auto;
    //       right: auto;
    //     }
    //   }
    // }
  }

  .dropdown{
    .dropdown-toggle{
      background-color: $transparent;
      cursor: pointer;

      @include placeholder{
        color: tint($text-color, 40%);
      }
    }

    .dropdown-menu{
      border-radius: 0px;
      border: none;
      margin: 0px;
      padding: 0px;
      right: 0px;
      left: 0px;
      background-color: $white;
      margin-top: 1px;
      width: 100%;

      li{
        p{
          font-size: 16px;
          padding: 5px 15px;
          margin: 0px;
          cursor: pointer;

          -webkit-transition: all 0.5s ease;

          transition: all 0.5s ease;

          @include on-event{
            color: $hover-color;
            outline: none;
          }
        }
      }
    }

    + label{
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
      font-size: 14px;

      + .border-bottom{
        &:after{
          width: 100%;
        }
      }
    }
  }

}
// End Material inputs

// iOS toggle
.toggle{
  width: 60px;
  height: 40px;
  border-radius: 100px;
  background-color: rgba($text-color, 0.4);
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;

  &.active{
    background-color: $primary-color;
  }

  .check{
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;

    &:checked{
      ~ .switch{
        right: 2px;
        left: 37.5%;
        -webkit-transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-delay: .08s, 0s;
        transition-delay: .08s, 0s;
      }
    }
  }

  .switch{
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 37.5%;
    background-color: $white;
    border-radius: 36px;
    z-index: 1;
    -webkit-transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-delay: 0s, 0.08s;
    transition-delay: 0s, 0.08s;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
// End iOS toggle

// Barcode
svg{
  &.barcode{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-left: 0px;
  }
}
// End Barcode

// Tooltips
.tooltip{
  font-family: $secondary-font;

  .tooltip-arrow{
    // -webkit-box-shadow: 0px 5px 11px 0px rgba($black,.18), 0px 4px 15px 0px rgba($black,.15);
    // box-shadow: 0px 5px 11px 0px rgba($black,.18), 0px 4px 15px 0px rgba($black,.15);
  }

  &.top{
    .tooltip-arrow{
      border-top-color: $black; //$text-color;
    }
  }

  &.bottom{
    .tooltip-arrow{
      border-bottom-color: $black; //$text-color;
    }
  }

  &.left{
    .tooltip-arrow{
      border-left-color: $black; //$text-color;
    }
  }

  &.right{
    .tooltip-arrow{
      border-right-color: $black; //$text-color;
    }
  }

  .tooltip-inner{
    border-radius: 0px;
    background-color: $black; //$text-color;

    -webkit-box-shadow: 0px 5px 11px 0px rgba($black,.18), 0px 4px 15px 0px rgba($black,.15);
    box-shadow: 0px 5px 11px 0px rgba($black,.18), 0px 4px 15px 0px rgba($black,.15);
  }
}

@media (max-width: 767px){

  .tooltip{
    display: none !important;
  }

}
// End Tooltips

// Turbolinks progress bar
.turbolinks-progress-bar{
  background-color: $third-color;
}
// End Turbolinks progress bar

// Number inputs
input[type='number'] {
  -moz-appearance: textfield; /*For FireFox*/

  &::-webkit-inner-spin-button { /*For Webkits like Chrome and Safari*/
    -webkit-appearance: none;
    // margin: 0;
  }
}
// End Number inputs

// Datepicker
.bootstrap-datetimepicker-widget{
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0px 3px 10px rgba($black, 0.15), 0px 3px 10px rgba($black, 0.1);
  box-shadow: 0px 3px 10px rgba($black, 0.15), 0px 3px 10px rgba($black, 0.1);

  &.dropdown-menu{
    &.bottom{
      &:before{
        border-bottom-color: rgba($black, 0.1);
      }
    }

    &.top{
      &:before{
        border-top-color: rgba($black, 0.1);
      }
    }
  }

  table{
    thead{
      tr{
        &:first-child{
          th{
            color: $btn-color;
          }
        }
      }
    }

    td{
      span{
        &.active{
          background-color: $btn-color;
        }
      }

      &.active{
        &, &:hover{
          background-color: $btn-color;
        }
      }
    }
  }

  .btn-primary{
    background-color: $btn-color;
    border-color: $btn-color;


    @include on-event(true){
      border-color: shade($btn-color, 10%);
      background-color: shade($btn-color, 10%);
    }
  }

  a{
    @include on-event(true){
      color: $btn-color;
    }
  }
}
// End Datepicker

@media (min-width: 768px){

  h1{
    font-size: 30px;
  }

}
