// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body{
  background-color: $body-color;
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: $text-color;

  // min-height: 100vh;

  height: 2000px;

  &.body-pdf{
    background-color: $white;
    font-size: 14px;
    line-height: 20px;
  }
}

// Main titles
h1,
h2,
h3,
h4,
h5{
  color: $text-color;
  font-family: $secondary-font;
  text-transform: none;
}

h1{
  font-size: 24px;
}

p{
  color: $text-color;
  word-wrap: break-word;
}

// Basic styles for links
a{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: $hover-color;
  text-decoration: none;
  position: relative;

  @include on-event{
    text-decoration: underline;
    color: $hover-color;
  }
}

// Inputs
.form-control{
  border-radius: 0px;
  border: none;
  color: $text-color;
  font-size: 16px;
  background-color: $transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 40px;

  @include placeholder{
    // color: tint($text-color, 40%);
    color: $transparent;
  }

  @include on-event{
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:focus{
    border-bottom-color: #ddd;
  }
}
// End Inputs


// Selection
::-moz-selection{
  background: $primary-color;
  color: $white;
}

::-moz-selection{
  background: $primary-color;
  color: $white;
}

::selection{
  background: $primary-color;
  color: $white;
}
//End Selection

// Material inputs
.form-group{
  position: relative;
  padding-top: 30px;

  label{
    position: absolute;
    bottom: 6px;
    top: auto;
    left: auto;
    right: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .border-bottom{
    position: relative;

    &:after{
      content: "";
      position: absolute;
      bottom: 0px;
      top: auto;
      left: 0px;
      right: auto;
      width: 0px;
      height: 2px;

      -webkit-box-shadow: 0 1px 0 0 tint($primary-color, 15%);
      box-shadow: 0 1px 0 0 tint($primary-color, 15%);
      border-bottom: 1px solid tint($primary-color, 15%);

      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  // Error on input
  .field_with_errors{
    + label{
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
      font-size: 14px;
      color: $sixth-color;

      + .border-bottom{
        &:after{
          border-bottom-color: $sixth-color;
          width: 100%;
        }
      }
    }
  }
  // End Error on input

  input{
    &.with-value, &:valid, &:focus{
      + label{
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        font-size: 14px;

        + .border-bottom{
          &:after{
            width: 100%;
          }
        }
      }
    }

    &:required{
      + label{
        &:after{
          content:" *";
          font-size: 0.8em;
          position: absolute;
          top: -2px;
          bottom: auto;
          left: auto;
          right: auto;
        }
      }
    }
  }

  select{
    + label{
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
      font-size: 14px;

      + .border-bottom{
        &:after{
          width: 100%;
        }
      }
    }
  }
}
// End Material inputs

@media (min-width: 768px){

  h1{
    font-size: 30px;
  }

}
