// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Custom-helpers
.full-wd {
  width: 100%;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

// Center link inside
.link-center {
  text-align: center;
}
// End Center link inside

// Visible only on 4K
.visible-4k {
  display: none !important;
}
// End Visible only on 4K

// No break words
.no-break {
  white-space: nowrap;
}
// End No break words

// Center images
img {
  margin: 0 auto;
}
// End Center images

// Videos Full Width
video {
  width: 100%;
}
// End Videos Full Width

@media (min-width: 768px) {

  // Featured pages Jobs section
  .featured-jobs {
    padding-bottom: 100px;
  }
  // End Featured pages Jobs section

}

@media (min-width: 1920px) {

  // Hide on 4K
  .hidden-4k {
    background: none !important;
    height: auto !important;
  }
  // Hide on 4K

  // Visible only on 4K
  .visible-4k {
    display: block !important;
  }
  // End Visible only on 4K

}
