<!-- Flash message -->
<% if flash.any? %>
<section class="alerts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <!-- Notice -->
        <%= render 'layouts/admin/flash-notice' %>
        <!-- End Notice -->

        <!-- Alert -->
        <%= render 'layouts/admin/flash-alert' %>
        <!-- End Alert -->
      </div>
    </div>
  </div>
</section>
<% end %>
<!-- End Flash message -->
