- if !flash[:alert].blank?
  .alert.alert-danger.alert-dismissible.shadow-card{role: "alert"}
    %button.close{"data-dismiss": "alert", type: "button", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.form.close")}
      %span{"aria-hidden": "true"}
        %i.fas.fa-times-circle
    %strong
      %p
        %i.fas.fa-exclamation-triangle
        = flash[:alert]
