<% if !flash[:notice].blank? %>
<div class="alert alert-success alert-dismissible shadow-card" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
  </button>

  <strong><p><i class="fas fa-info-circle"></i> <%= flash[:notice] %></p></strong>
</div>
<% end %>
