.language-container
  .dropdown
    %a.custom-btn.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
      %i.fas.fa-language
    %ul.dropdown-menu
      %li
        = link_to (change_language_path(:en)), class: "#{'active' if I18n.locale.to_s == 'en'}" do
          %span.flag-icon.flag-icon-us
          %span English
      %li
        = link_to (change_language_path(:es)), class: "#{'active' if I18n.locale.to_s == 'es'}" do
          %span.flag-icon.flag-icon-es
          %span Español
