<div class="notifications-container">
  <div class="dropdown">
    <a href="#" class="custom-btn dropdown-toggle" data-toggle="dropdown">
      <i class="fas fa-bell"></i>
    </a>
    
    <ul class="dropdown-menu">
      <li>
        <a href="#"><i class="fas fa-plus-square"></i> Nuevo usuario registrado</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-times-circle"></i> Pedido cancelado</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-clock"></i> Envio pendiente</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-list"></i> Todas las notificaciones</a>
      </li>
    </ul>
  </div>
</div>
