<div class="search-btn-container">
  <a class="custom-btn search-toggle-button collapsed" data-toggle="collapse" data-target="#search_form" aria-expanded="false"><i class="fas fa-search"></i></a>
</div>
