<div id="search_form" class="search-form collapse" aria-expanded="false">
  <form role="search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="<%= t('header.search.search') %>" autofocus="true">

      <span class="input-group-btn">
        <button class="btn btn-general hidden" type="submit"><i class="fas fa-search"></i></button>
        <a class="btn btn-general collapsed" data-toggle="collapse" data-target="#search_form" aria-expanded="false"><i class="fas fa-times"></i></a>
      </span>
    </div>
  </form>
</div>
