<div class="user-container">
  <div class="dropdown">
    <a href="#" class="custom-btn dropdown-toggle" data-toggle="dropdown">
      <i class="fas fa-user"></i>
    </a>

    <ul class="dropdown-menu">
      <li>
        <span class="profile"><i class="fas fa-user"></i></span>
        <span class="profile"><p>Reymundo Tenorio</p></span>
      </li>
      <li>
        <a href="#"><i class="fas fa-cog"></i> <span><%= t("header.user.configuration") %></span></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-lock"></i> <span><%= t("header.user.lock") %></span></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-sign-out-alt"></i> <span><%= t("header.user.sign_off") %></span></a>
      </li>
    </ul>
  </div>
</div>
