<div class="user-container">
  <div class="dropdown">
    <a href="#" class="custom-btn dropdown-toggle" data-toggle="dropdown">
      <i class="fas fa-user"></i>
    </a>
    
    <ul class="dropdown-menu">
      <li>
        <span><i class="fas fa-user"></i></span>
        <span>Reymundo Tenorio</span>
      </li>
      <li>
        <a href="#"><i class="fas fa-cog"></i> <%= t('header.user.configuration') %></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-lock"></i> <%= t('header.user.lock') %></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-sign-out-alt"></i> <%= t('header.user.sign_off') %></a>
      </li>
    </ul>
  </div>
</div>
