.user-container
  .dropdown
    %a.custom-btn.dropdown-toggle{"data-toggle": "dropdown", href: "#", "data-tooltip": "true", "data-placement": "left", title: t("activerecord.models.user")}
      %i.fas.fa-user

    %ul.dropdown-menu
      - if current_employee
        -# Employee detail render_sync
        = sync partial: "employee_info", resource: current_employee
        = sync_new partial: "employee_info", resource: Employee.new
        -# End Employee detail render_sync
