.user-container
  .dropdown
    %a.custom-btn.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
      %i.fas.fa-user

    %ul.dropdown-menu
      -# Employee detail Sync
      = sync partial: "employee_info", resource: current_employee
      = sync_new partial: "details", resource: Employee.new
      -# End Employee detail Sync
