!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    = wicked_pdf_stylesheet_link_tag "application"
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split("&");

        for(var i in x) {
          var z=x[i].split("=",2);vars[z[0]] = decodeURIComponent(z[1]);
        }

        var x=["frompage","topage","page","webpage","section","subsection","subsubsection"];

        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);

          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
  %body.body-pdf{:onload => "number_pages()"}
    / Footer
    %footer
      %section.footer-pdf
        .container
          .row
            .col-xs-6
              .footer-legal
                %p.text-left= datetime
            .col-xs-6
              %p.text-right
                %span.page
                \/
                %span.topage
    / End Footer
