-# Render count and title
$("#count-title").html("#{escape_javascript(render "count_title")}");
-# Render show buttons
$("#show-buttons").html("#{escape_javascript(render "show_buttons")}");
-# Render table
$("#render-data").html("#{escape_javascript(render "sale_details")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
