.search-container{
  margin-top: 100px;
  form{
    width: 100%;
    padding: 0px 15px;

    position: relative;

    button{
      position: absolute;
      top: 5px;
      bottom: auto;
      right: 15px;
      left: auto;

      background: transparent;
      border: none;
      font-size: 20px;
      color: #dddddd;
      z-index: 3;
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      padding: 5px;

      @include on-event{
        color: $white;
      }
    }

    .group{
      position: relative;
      input{
        width: 100%;
        background: none;
        font-size: 14px;
        padding: 10px 10px 0px 10px;
        display: block;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #dddddd;
        color: $white;
        position: relative;
        z-index: 2;

        &:focus {
          outline: none;
        }

        &:focus ~ label,
        &:valid ~ label {
          top: -14px;
          left: 0px;
          font-size: 11px;
          color: $white;
        }
        &:focus ~ .bar:before,
        &:valid ~ .bar:before {
          width: 100%;
          left: 0%;
        }
      }
      label{
        color: #dddddd;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        top: 10px;
        left: 5px;
        -webkit-transition: all ease 0.5s;
        transition: all ease 0.5s;
        z-index: 1;
      }
      .bar{
        position: relative;
        display: block;
        width: 100%;
        &:before{
          content: '';
          height: 2px;
          width: 0px;
          position: absolute;
          bottom: 0px;
          left: 0%;
          background: $white;
          -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .search-container{
    margin-top: 14vh;
  }
}

@media (min-width: 1200px) {
  .search-container form .group{
    label{
      font-size: 16px;
    }

    input{
      font-size: 16px;
      &:focus, &:valid{
        & ~ label{
          font-size: 14px;
          top: -18px;
        }
      }
    }
  }
}
