-# Render count and title
$("#count-title").html("#{escape_javascript(render "admin/sales/invoices/count_title")}");
-# Render show buttons
$("#show-buttons").html("#{escape_javascript(render "admin/sales/invoices/show_buttons")}");
-# Render table
$("#render-data").html("#{escape_javascript(render "admin/sales/invoices/sales")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
