-# Render table
$("#render-search-customers").html("#{escape_javascript(render "customers_search")}");
-# Render table
$("#render-search-products").html("#{escape_javascript(render "products_search")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
