-# Render table
$("#render-search-customers").html("#{escape_javascript(render "admin/sales/invoices/customers_search")}");
-# Render table
$("#render-search-products").html("#{escape_javascript(render "admin/sales/invoices/products_search")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
