%section.wrap
  .banner.grad-section
    .container-fluid
      .row
        .col-xs-12
          %h1.search-title.text-center= t("sale.update_profile")

-# Render form
= render "form"
-# End Render form
