// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///font-variables
$primary-font: "Ubuntu", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$third-font: "Cyclo", sans-serif;

/// Copy text color
/// @type Color

$text-color: #444444 !default;

//color on variables
$white: #fff;
$black: #000;
$grey: #f5f5f5;
$transparent: transparent;

// Company color pallete
$primary-color: #b24592; // Violet
$secondary-color: #f15f79; // Pink
$third-color: #1eb5d7; // Light blue
$fourth-color: #f39c12; // Orange - https://flatuicolors.com/palette/defo
$fifth-color: #00a68c; // Arcadia (Teal)
$sixth-color: #c0392b; // Pomegranada - https://flatuicolors.com/palette/defo
$btn-color: $secondary-color;
$hover-color: $primary-color;
$body-color: tint($secondary-color, 95%);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: "http://cdn.example.com/assets/";
$base-url: "/assets/" !default;
