.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "sale"
        - attributes = ["sale_datetime", "total_sale", "customer", "employee", "paid", "payment_method", "delivery_status"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}

      %tbody
        -# Data table render_sync
        = sync partial: "orders/data_table", collection: @orders
        = sync_new partial: "orders/data_table", resource: Sale.new
        -# End Data table render_sync
    -# End Table


.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @orders, renderer: BootstrapPagination::Rails
    -# End Pagination
