@charset 'UTF-8';

// 1. Configuration and helpers
@import
'abstracts/functions',
'abstracts/mixins',
'abstracts/variables';

// 2. Vendors
/// @import
///  'vendor/normalize';

// 3. Base stuff
@import
'base/fonts',
'base/base',
/// 'base/typography',
'base/helpers';

// 4. Layout-related sections
@import
'layout/header',
'layout/footer';

// 5. Components
@import
'components/button',
'components/carousel',
'components/preloader',
'components/custom-buttons';

// 6. Page-specific styles
@import
'pages/default',
'pages/not-found',
'pages/index',
'pages/details',
'pages/form',
'pages/history';

// 7. Themes
@import
'themes/default';
