@charset "UTF-8";

// Fonts
@import
"base/fonts";

// 1. Configuration and helpers
@import
"abstracts/functions",
"abstracts/mixins",
"abstracts/variables";

// 2. Vendors
/// @import
///  "vendor/normalize";

// 3. Base stuff
@import
"base/base",
/// "base/typography",
"base/helpers";

// 4. Layout-related sections
@import
"layout/header",
"layout/footer";

// 5. Components
@import
"components/button",
"components/carousel",
"components/preloader",
"components/custom-buttons";

// 6. Page-specific styles
@import
"pages/default",
"pages/mailer",
"pages/authentication",
"pages/not-found",
"pages/index",
"pages/details",
"pages/form",
"pages/history",
"pages/invoice";

// 7. Themes
@import
"themes/default";
