%section.error-page
  .container
    .row.flex-row.material-card
      .col-xs-12.col-md-6.col-lg-5.col-lg-offset-1
        = image_tag "img/404-empty-basket.png", class: "img-responsive", alt: "Empty basket"
      .col-xs-12.col-md-6.col-lg-5
        %h1
          5
          %span>= image_tag "img/error-tomato.png", class: "img-responsive", alt: "0"
          0
        %h2
          %span= t("views.errors.page_empty")
        %p
          = link_to (admin_root_path), title: "t('views.errors.back_to_home')" do
            %i.fas.fa-undo-alt
            %span= t("views.errors.back_to_home")
