$(document).on("turbolinks:load", function() {

  $("#addToCart").click(function(){
    var form = $(this).parents("form:first");
    var quantity = form.find("#quantity");
    var productId = form.find("#productId");

    var jsonData = JSON.parse(localStorage.getItem("banpCart")) || {};
    jsonData.cart = jsonData.cart || [];

    var flag = true;


    // If product exists on the cart
    $.each(jsonData.cart, function(index, value) {
      if (value.cartDetails.id == parseInt(productId.val()) ) {
        flag = false;
        jsonData.cart[index] =
        {
          cartDetails:
          {
            id: parseInt(productId.val()),
            quantity: value.cartDetails.quantity + parseInt(quantity.val())
          },
        };
      }
    });

    // If product does not exist on the cart
    if (flag){
      jsonData.cart.push(
        {
          cartDetails:
          {
            id: parseInt(productId.val()),
            quantity: parseInt(quantity.val())
          },
        }
      );
    }

    localStorage.setItem("banpCart", JSON.stringify(jsonData))


    // $.each(output.cart, function(index, value) {
    //   console.log("ID: " + value.cartDetails.id + " cantidad: " +   value.cartDetails.quantity);
    // });
  });



  var output = JSON.parse(localStorage.getItem("banpCart"));

  $("#cart-counter").text(output.cart.length)

  $.each(output.cart, function(index, value) {

  console.log(<%= Product.all.to_json %>);

    var product = "<a class='resume' href= '#'><span class='quantity'> "+ products + "(" + value.cartDetails.quantity + ")" + " </span> " + "<span class='amount'> $123.00 </span>";

    $("#cart-products").append(product);
  });

});
