$(document).on("turbolinks:load", function() {

  $("#addToCart").click(function(){
    var form = $(this).parents("form:first");
    var quantity = form.find("#quantity");
    var productId = form.find("#productId");

    var jsonData = JSON.parse(localStorage.getItem("banpCart")) || {};
    jsonData.cart = jsonData.cart || [];
    var flag = true;


    // If product exists on the cart
    $.each(jsonData.cart, function(index, value) {
      if (value.cartDetails.id == parseInt(productId.val()) ) {
        flag = false;

        jsonData.cart[index] =
        {
          cartDetails:
          {
            id: parseInt(productId.val()),
            quantity: value.cartDetails.quantity + parseInt(quantity.val()),
            user_id: 5
          },
        };
      }
    });

    // If product does not exist on the cart
    if (flag){
      jsonData.cart.push(
        {
          cartDetails:
          {
            id: parseInt(productId.val()),
            quantity: parseInt(quantity.val()),
            user_id: 5
          },
        }
      );
    }

    localStorage.setItem("banpCart", JSON.stringify(jsonData))
  });


  // Read and load the banpCart localStorage
  var output = JSON.parse(localStorage.getItem("banpCart"));
  var products = <%= Product.all.to_json %>;

  $("#cart-counter").text(output.cart.length);


  $.each(output.cart, function(index, value) {
    product = products.find(item => item.id === value.cartDetails.id);
    console.log(product);

    var product_item = "<a class='resume'><span class='quantity'> "+ product.name + "(" + value.cartDetails.quantity + ")" + " </span> " + "<span class='amount'>" + "$ " +(product.price * value.cartDetails.quantity) + "</span></a>";

    $("#cart-products").append(product_item);
  });

});
