$(document).on("turbolinks:load", function(){
  // Set current locale
  var i18nLocale = $("body").data("locale");
  var products = <%= Product.all.to_json %>;

  // Format Currency
  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
    minimumFractionDigits: 2
  });

  // Prevent submit of forms for Add to Cart
  $("form.addCart").submit(function(e){
    e.preventDefault();
  });

  // Update Cart and cart details
  function readCartInfo(){
    // Read and load the banpCart localStorage
    var output = JSON.parse(localStorage.getItem("banpCart")) || null;

    if(output){
      $(".cart-counter").css({"display": "block"});
      $(".cart-counter").text(output.cart.length);
      $(".cart-products").empty();

      $.each(output.cart, function(index, value){
        if(index < 3){
          product = products.find(item => item.id === value.cartDetails.id);
          i18nLocale == "es" ? productName = product.name_spanish : productName = product.name;

          var productItem = "<a class='resume'><span class='quantity'> "+ productName + " (" + value.cartDetails.quantity + ")" + " </span> " + "<span class='amount'>" + formatter.format((product.price * value.cartDetails.quantity)) + "</span></a>";

          $(".cart-products").append(productItem);
        }
        else{
          var productItem = "<a class='text-right' href='/products'><b>Ver más</b></a>";
          $(".cart-products").append(productItem);
          return false;
        }
      });
    }
    else{
      $(".cart-counter").css({"display": "none"});
    }
  }

  // Fuction on the "Add to Cart" button
  $(".addToCart").click(function(){
    var form = $(this).parents("form:first");
    var quantity = form.find("#quantity");
    var productId = form.find("#productId");

    var jsonData = JSON.parse(localStorage.getItem("banpCart")) || {};
    jsonData.cart = jsonData.cart || [];

    var flag = true;
    var userID = parseInt(atob($("#currentCostumer").val().trim()));

    if(userID == 0){
      $(location).attr("href", "/sign-in?notification=sign-in-required");
      return;
    }

    if(parseInt(quantity.val()) <= 0){
      toastr.options.progressBar = true;

      i18nLocale == "es" ? amountGreater = "Ingrese una cantidad mayor que cero" : amountGreater = "Enter an amount greater than zero";
      i18nLocale == "es" ? amountNotValid = "Cantidad no valida" : amountNotValid = "Amount not valid";

      toastr.error(amountGreater, amountNotValid);
      return;
    }

    if(parseInt(quantity.val()) <= 0){
      toastr.options.progressBar = true;

      i18nLocale == "es" ? amountGreater = "Ingrese una cantidad mayor que cero" : amountGreater = "Enter an amount greater than zero";
      i18nLocale == "es" ? amountNotValid = "Cantidad no valida" : amountNotValid = "Amount not valid";

      toastr.error(amountGreater, amountNotValid);
      return;
    }

    // If product exists on the cart
    $.each(jsonData.cart, function(index, value){
      if (value.cartDetails.id == parseInt(productId.val()) ){
        flag = false;

        jsonData.cart[index] =
        {
          cartDetails:
          {
            id: parseInt(productId.val()),
            quantity: value.cartDetails.quantity + parseInt(quantity.val()),
            userId: userID
          },
        };
      }
    });

    // If product does not exist on the cart
    if (flag){
      jsonData.cart.push(
        {
          cartDetails:
          {
            id: parseInt(productId.val()),
            quantity: parseInt(quantity.val()),
            userId: userID
          },
        }
      );
    }

    productCart = products.find(item => item.id === parseInt(productId.val()));

    i18nLocale == "es" ? productAdded = "Producto añadido al carrito" : productAdded = "Product added to the cart";
    i18nLocale == "es" ? productName = productCart.name_spanish : productName = productCart.name;

    toastr.success(productName + " (" + parseInt(quantity.val()) + ")", productAdded);

    localStorage.setItem("banpCart", JSON.stringify(jsonData));
    readCartInfo();
  });

  // Update Cart and cart details
  readCartInfo();
});
