$(document).ready(function(){

  <% require "httparty" %>

  // Set current locale
  var i18nLocale = $("body").data("locale");
  // var products = <= Product.all.to_json >;

  <% products_url = "http://localhost:3000/products.json" %>
  <%= products_json = JSON.pretty_generate(JSON.parse((HTTParty.get(products_url)).body)) rescue "{}" %>;
  var products = <%= products_json %>;

  // console.log(products);

  // Format Currency
  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
    minimumFractionDigits: 2
  });

  // Prevent submit of forms for Add to Cart
  $("form.addCart").submit(function(e){
    e.preventDefault();
  });

  // Update Cart and cart details
  function readCartInfo(){
    updateCartDropdown();
    updateCartPage();
  }

  function updateCartDropdown(){
    // Read and load the banpCart localStorage
    var output = JSON.parse(localStorage.getItem("banpCart")) || null;
    var userID = parseInt(atob($("#currentCustomer").val().trim()));
    var counter = 0;

    // Cart details
    if(output){
      $(".cart-products").empty();

      $.each(output.cart, function(index, value){
        if(value !=  null){
          if(userID == value.cartDetails.userId){
            counter++;

            if(counter <= 3){
              product = products.find(item => item.id === value.cartDetails.id);
              i18nLocale == "es" ? productName = product.name_spanish : productName = product.name;

              var productItem = "<a class='resume'> <span class='quantity'> "+ productName + " (" + value.cartDetails.quantity + ")" + " </span> " + "<span class='amount'>" + formatter.format((product.price * value.cartDetails.quantity)) + "</span> </a>";

              $(".cart-products").append(productItem);
            }
            else if(counter == 4){
              var productItem = "<a class='text-right' href='/cart'><b>" + i18nLocale == "es" ? "Ver más" : "View more" + "</b></a>";
              $(".cart-products").append(productItem);
              // return false;
            }
          }
        }
      });
    }

    // Counter
    if(counter > 0){
      $(".cart-counter").css({"display": "block"});
      $(".cart-counter").text(counter);
      $(".cart-menu").removeClass("disabled");
    }
    else{
      $(".cart-counter").css({"display": "none"});
      $(".cart-menu").addClass("disabled");
    }
  }

  function updateCartPage(){
    // Read and load the banpCart localStorage
    var output = JSON.parse(localStorage.getItem("banpCart")) || null;
    var userID = parseInt(atob($("#currentCustomer").val().trim()));
    // var subtotal = parseFloat(0);

    // i18nLocale == 'es' ? decrease = 'Disminuir' : decrease = 'Decrease';
    // i18nLocale == 'es' ? increase = 'Aumentar' : increase = 'Increase'

    // Cart details
    if(output){
      $(".cart-list").empty();

      $.each(output.cart, function(index, value){
        if(value !=  null){
          if(userID == value.cartDetails.userId){
            // subtotal = subtotal + parseFloat(parseFloat(product.price) * parseInt(value.cartDetails.quantity));

            product = products.find(item => item.id === value.cartDetails.id);
            i18nLocale == "es" ? productName = product.name_spanish : productName = product.name;


            // var productItem = "<div class='table-row'> <div class='image-column'><img class='img-responsive' src='" + product.image_url + "'></div> <div class='info'> <div class='name-column info-column'><span>" + productName + "</span></div> <div class='price-column info-column'><span>" + formatter.format(product.price) + "</span></div> <div class='quantity-column info-column'><form action='' class='link-container' method=''><div class='quantity'> <button id='minus-btn' class='' name='minus' type='button' data-placement='top' data-toggle='tooltip' title='" + decrease + "'><span class='sr-only'>minus</span><i class='fas fa-minus'></i></button> <input id='quantity' class='q-input' name='quant-prod' type='number' value='" + value.cartDetails.quantity + "' min='1'> <button id='plus-btn' class='' name='plus' type='button' data-placement='top' data-toggle='tooltip' title='" + increase + "'><span class='sr-only'>plus</span> <i class='fas fa-plus'></i></button></div> </form></div> <div class='total-column info-column'><span>" + formatter.format((product.price * value.cartDetails.quantity)) + "</span></div> </div> <button class='remove-btn' name='Remove' type='button'><i class='far fa-trash-alt'></i></button> </div>";
            //
            // $(".cart-list").append(productItem);
          }
        }
      });
    }

    // $("#subtotal").text(subtotal);
  }

  // Fuction on the "Add to Cart" button
  $(".addToCart").click(function(){
    var form = $(this).parents("form:first");
    var quantity = form.find("#quantity");
    var productId = form.find("#productId");

    var jsonData = JSON.parse(localStorage.getItem("banpCart")) || {};
    jsonData.cart = jsonData.cart || [];

    var flag = true;
    var userID = parseInt(atob($("#currentCustomer").val().trim()));

    if(userID == 0){
      $(location).attr("href", "/sign-in?notification=sign-in-required");
      return;
    }

    if(parseInt(quantity.val()) <= 0){
      toastr.options.progressBar = true;

      i18nLocale == "es" ? amountGreater = "Ingrese una cantidad mayor que cero" : amountGreater = "Enter an amount greater than zero";
      i18nLocale == "es" ? amountNotValid = "Cantidad no valida" : amountNotValid = "Amount not valid";

      toastr.error(amountGreater, amountNotValid);
      return;
    }

    if(parseInt(quantity.val()) <= 0){
      toastr.options.progressBar = true;

      i18nLocale == "es" ? amountGreater = "Ingrese una cantidad mayor que cero" : amountGreater = "Enter an amount greater than zero";
      i18nLocale == "es" ? amountNotValid = "Cantidad no valida" : amountNotValid = "Amount not valid";

      toastr.error(amountGreater, amountNotValid);
      return;
    }

    // If product exists on the cart
    $.each(jsonData.cart, function(index, value){
      if(value !=  null){
        if (value.cartDetails.id == parseInt(productId.val()) ){
          flag = false;

          jsonData.cart[index] =
          {
            cartDetails:
            {
              id: parseInt(productId.val()),
              quantity: value.cartDetails.quantity + parseInt(quantity.val()),
              userId: userID
            },
          };
        }
      }
    });

    // If product does not exist on the cart
    if (flag){
      jsonData.cart.push(
        {
          cartDetails:
          {
            id: parseInt(productId.val()),
            quantity: parseInt(quantity.val()),
            userId: userID
          },
        }
      );
    }

    productCart = products.find(item => item.id === parseInt(productId.val()));

    i18nLocale == "es" ? productAdded = "Producto añadido al carrito" : productAdded = "Product added to the cart";
    i18nLocale == "es" ? productName = productCart.name_spanish : productName = productCart.name;

    toastr.success(productName + " (" + parseInt(quantity.val()) + ")", productAdded);

    localStorage.setItem("banpCart", JSON.stringify(jsonData));
    readCartInfo();
  });

  // Fuction on the "Clear Cart" button
  $(".clearCart").click(function(){
    var jsonData = JSON.parse(localStorage.getItem("banpCart")) || {};
    jsonData.cart = jsonData.cart || [];
    var userID = parseInt(atob($("#currentCustomer").val().trim()));

    if(userID == 0){
      return;
    }

    // If product exists on the cart
    $.each(jsonData.cart, function(index, value){
      if(value !=  null){
        if(userID == value.cartDetails.userId){
          delete jsonData.cart[index];
        }
      }
    });

    localStorage.setItem("banpCart", JSON.stringify(jsonData));
    readCartInfo();
  });

  // Update Cart and cart details
  readCartInfo();

});
