.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "category"

        - attributes = ["name", "description"]

        -# Render table header
        = render partial: "admin/partials/table_header", locals: {model: model, attributes: attributes}

        - if I18n.locale == :es
          - attributes = ["name_spanish", "description_spanish"]

      %tbody
        -# Data table Sync
        = sync partial: "data_table", collection: @categories
        = sync_new partial: "data_table", resource: Category.new
        -# End Data table Sync
    -# End Table


.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @categories, renderer: BootstrapPagination::Rails
    -# End Pagination
