-# Details PDF
%section.details.details-pdf
  .container
    .row
      .col-xs-12
        %h1.text-center= pdf_title

      -# Set attributes
      - model = "category"

      - if I18n.locale == :es
        - attributes = ["name_spanish", "description_spanish", "state"]
        
      - else
        - attributes = ["name", "description", "state"]

      -# Render details information
      = render partial: "partials/information_details", locals: {model: model, resource: resource, attributes: attributes}
-# End Details PDF
