.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "product"
        - attributes = ["name", "barcode", "price", "category", "stock", "stock_min", "content"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}

        - if I18n.locale == :es
          - attributes = ["name_spanish", "barcode", "price", "category", "stock", "stock_min", "content_spanish"]

      %tbody
        -# Data table render_sync
        = sync partial: "data_table", collection: @products
        = sync_new partial: "data_table", resource: Product.new
        -# End Data table render_sync
    -# End Table


.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @products, renderer: BootstrapPagination::Rails
    -# End Pagination
