-# PDF resource
-# resource
-# End PDF resource

-# Index PDF
%section.index.index-pdf
  .container
    .row
      .col-xs-12
        -# Material card
        .material-card.shadow-card.material-card-pdf.shadow-card-pdf
          .row.no-margin
            .col-xs-12.no-padding
              %h1.text-center= pdf_title
              -# Table
              %table.table.table-pdf
                -# Set attributes
                - model = "product"
                - attributes = ["name", "price", "content"]

                -# Render table header
                = render partial: "admin/partials/table_header", locals: {model: model, attributes: attributes}

                -# Set attributes
                - if I18n.locale == :es
                  - attributes = ["name_spanish", "price", "content_spanish"]

                %tbody
                  - resource.each do |info|
                    -# Render table information
                    = render partial: "admin/partials/information_table", locals: {resource: info, attributes: attributes}
              -# End Table
        -# End Material card
-# End Index PDF
