-# Render count and title
$("#count-title").html("#{escape_javascript(render "inventory_count_title")}");
-# Render table
$("#render-data").html("#{escape_javascript(render "inventory_products")}");
-# Render pagination
$(".pagination a").attr("data-remote", "true");
