-# Details PDF
%section.details.details-pdf
  .container
    .row
      .col-xs-12
        %h1.text-center= pdf_title

      -# Set attributes
      - model = "product"

      - attributes = I18n.locale == :es ? ["name_spanish", "price", "category", "stock", "stock_min", "content_spanish", "description_spanish", "recipes_spanish", "state", "barcode"] : ["name", "price", "category",  "stock", "stock_min", "content", "description", "recipes", "state", "barcode"]

      -# Render details information
      = render partial: "partials/information_details", locals: {model: model, resource: resource, attributes: attributes}
-# End Details PDF
