-# Details PDF
%section.details.details-pdf
  .container
    .row
      .col-xs-12
        %h1.text-center= pdf_title

      -# Set attributes
      - if I18n.locale == :es
        - attributes = ["name_spanish", "price" "content_spanish", "description_spanish", "recipes_spanish", "state"]
      - else
        - attributes = ["name", "price", "content", "description", "recipes", "state"]
        
      -# Render details information
      = render partial: "admin/partials/information_details", locals: {resource: resource, attributes: attributes}
-# End Details PDF
