.row.related-row
  .col-xs-12
    %h3.text-center.related-title Related Products

  .col-xs-12.no-padding
    #carousel-related.carousel.slide.multiple-item{"data-interval": "false", "data-ride": "carousel"}
      -# Wrapper for slides
      .carousel-inner
        .item.active
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .card
              -# Related first render_sync
              = sync partial: "related_first", resource: @products_first
              = sync_new partial: "related_first", resource: Product.new
              -# End Related first render_sync

        - @products.each do |product|
          .item
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
              .card
                -# Related list render_sync
                = sync partial: "related_list", resource: product
                = sync_new partial: "related_list", resource: Product.new
                -# End Related list render_sync

      -# Controls
      %a.left.carousel-control{"data-slide": "prev", href: "#carousel-related"}
        %i.fa.fa-chevron-left

      %a.right.carousel-control{"data-slide": "next", href: "#carousel-related"}
        %i.fa.fa-chevron-right
