%span.profile
  -# Employee image
  - if employee.image.attached?
    = image_tag url_for(employee.image), class: "img-responsive img-circle"
  
  - else
    %i.fas.fa-user
  
  %p=employee.first_name
  