// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@mixin btn-style{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: $btn-color;
  padding: 5px 15px;
  color: $white;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 0px;

  // white-space: pre-wrap;
  // white-space: -moz-pre-wrap;
  // white-space: -pre-wrap;
  // white-space: -o-pre-wrap;
  white-space: normal;
  word-wrap: break-word;

  line-height: 30px;
  outline: none;

  font-size: 16px;

  -webkit-box-shadow: 0px 5px 11px 0px rgba($black,.18), 0px 4px 15px 0px rgba($black,.15);
  box-shadow: 0px 5px 11px 0px rgba($black,.18), 0px 4px 15px 0px rgba($black,.15);

  &:after{
    display: none;
  }

  @include on-event{
    background-color: shade($btn-color, 10%);
    text-decoration: none;
    color: $white;
    border: none;

    -webkit-box-shadow: none;
    box-shadow: none;

    outline: 0px solid $transparent;
  }
}

// Override buttons behavior
.btn-general{
  @include btn-style;
  
  &.select-category{
    line-height: 1;
    padding: 8px;
  }
}
// End Override btn default behavior
