// -----------------------------------------------------------------------------
// This file contains all styles related to custom buttons component.
// -----------------------------------------------------------------------------

///this class could be added to ul tag containing anchor items
.custom-btn-group{
  margin: 0px;
  padding: 0px;

  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  li{
    padding-left: 5px;
    padding-right: 5px;
  }
}

/// This class could be added to anchor tags
.custom-btn{
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  color: $white;
  background-color: $transparent;

  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 0px;

  border: 1px solid $transparent;

  -webkit-box-shadow: none;
  box-shadow: none;

  @include on-event{
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $text-color;
  }
}
