-# Flash message
- if flash.any?
  %section.alerts.hidden
    .container
      .row
        .col-xs-12
          -# Render notice
          = render "layouts/flash-notice"
          -# End Render notice

          -# Render alert
          = render "layouts/flash-alert"
          -# End Render alert
-# End Flash message
