%ul.dropdown-menu
  %li
    %a.resume{href: "#", title: "View cart"}
      %span.quantity
        Products (1)
      %span.amount
        $123.00
  %li
    %a.check-out{href: "#", title: "Proceed to Checkout"}
      %i.fas.fa-check-circle
      Checkout
  %li
    %a.check-out{href: "#", title: "Clear cart"}
      %i.fas.fa-times-circle
      Clear cart
