%ul.dropdown-menu
  %li#cart-products
  -# Loading products
  %li
    %a.check-out{href: "#"}
      %i.fas.fa-check-circle
      = t("views.cart.checkout")
  %li
    %a.check-out{href: "#"}
      %i.fas.fa-times-circle
      = t("views.cart.clear_cart")
