%ul.pagination.pagination-desktop.hidden-xs.hidden-sm.hidden-md
  %li
    %a.active{href: "#search"} Search
  %li
    %a{href: "#how-we-work"} How we work
  %li
    %a{href: "#our-products"} Our Products
  %li
    %a{href: "#contact-us"} Contact Us

%ul.pagination.pagination-mobile.hidden-xs.hidden-lg
  %li
    %a.active{href: "#search"}
      .tomato
  %li
    %a{href: "#how-we-work"}
      .tomato
  %li
    %a{href: "#our-products"}
      .tomato
  %li
    %a{href: "#contact-us"}
      .tomato
