%form{method: "post"}
  .group
    %input{required: "required", type: "text"}/
    %span.highlight
    %span.bar
    %label= t("views.landing.search_products")
  %button{name: "#{t('views.landing.search')}", type: "button"}
    %span.sr-only= t("views.landing.search")
    %i.fas.fa-search
