%form{method: "post"}
  .group
    %input{required: "required", type: "text"}/
    %span.highlight
    %span.bar
    %label Search Products
  %button{name: "Search", type: "button"}
    %span.sr-only Search
    %i.fas.fa-search
