%li.dropdown
  %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
    %span.visible-xs
      = t("views.navigation.user")
      %i.fa.fa-angle-down
    %span.hidden-xs
      %i.fas.fa-user
  %ul.dropdown-menu.user-dropbown
    %li.label
      %span.name
        Reymundo Tenorio
    %li
      %a{href: "#", target: "_self"}
        %i.fas.fa-cog.hidden-xs
        = t("header.user.configuration")
    %li
      %a{href: "#", target: "_self"}
        %i.fas.fa-lock.hidden-xs
        = t("header.user.lock")
    %li
      %a{href: "#", target: "_self"}
        %i.fas.fa-sign-out-alt.hidden-xs
        = t("header.user.sign_off")
